<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="CString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Pharmacy.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms defaultUrl="Index.aspx" loginUrl="Account/Login.aspx" cookieless="UseDeviceProfile" slidingExpiration="true"/>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<roleManager enabled="true">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" connectionStringName="CString" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<membership defaultProvider="StateManagementSqlMembershipProvider">
			<providers>
				<clear/>
				<add name="StateManagementSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
	</system.web>
	<location path="SoftwareAdmin">
		<system.web>
			<authorization>
				<allow roles="SoftwareAdmin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Admin">
    <system.web>
      <authorization>
        <allow roles="SoftwareAdmin, Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
	<location path="Sales">
		<system.web>
			<authorization>
				<allow roles="SoftwareAdmin, Sales"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="StoreKeeper">
    <system.web>
      <authorization>
        <allow roles="SoftwareAdmin, StoreKeeper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
	<location path="Cashier">
		<system.web>
			<authorization>
				<allow roles="SoftwareAdmin, Cashier"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="StopOver">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
